# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# Azure
.azure/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
docs.docx
*.zip
temp_deploy/
deployment.zip
old.git/

# Secrets
.env
config.json
secrets.json


.old.git/COMMIT_EDITMSG
.old.git/config
.old.git/description
.old.git/FETCH_HEAD
.old.git/HEAD
.old.git/index
.old.git/hooks/applypatch-msg.sample
.old.git/hooks/commit-msg.sample
.old.git/hooks/fsmonitor-watchman.sample
.old.git/hooks/post-update.sample
.old.git/hooks/pre-applypatch.sample
.old.git/hooks/pre-commit.sample
.old.git/hooks/pre-merge-commit.sample
.old.git/hooks/pre-push.sample
.old.git/hooks/pre-rebase.sample
.old.git/hooks/pre-receive.sample
.old.git/hooks/prepare-commit-msg.sample
.old.git/hooks/push-to-checkout.sample
.old.git/hooks/sendemail-validate.sample
.old.git/hooks/update.sample
.old.git/info/exclude
.old.git/logs/HEAD
.old.git/logs/refs/heads/main
.old.git/logs/refs/remotes/origin/HEAD
.old.git/logs/refs/remotes/origin/main
.old.git/objects/0e/35e7ecdb4bcafdc16b724dd08de1319c9058fe
.old.git/objects/32/74e60563887516bcdf1610c3ed6acee58c4b0b
.old.git/objects/49/64803d8de78a772387181d4eb1437895882bc8
.old.git/objects/4f/59cdd50f42125f1ac45e4c1971986851955c39
.old.git/objects/5c/f9b6d06920d9606e8c065afca0fb45140409ef
.old.git/objects/5e/7333dbae0e62f668bb844f8d67888391ecb037
.old.git/objects/62/c9b751653729c6a3d1250d36e97f86be693aea
.old.git/objects/68/cc351c401928385788ac6974aed9899bdce7d5
.old.git/objects/6b/e7424d7efaf403cd3f010defcbec6d33b62e1c
.old.git/objects/91/737dd0cf4c82d01c1f06d05deb9243326313bc
.old.git/objects/98/6f7b3e6c5f8ad403ea3736c389f5c3af1c1d79
.old.git/objects/99/da234df7f0efe648151b5b11c9c1ea66ba5dbd
.old.git/objects/a2/9d2974673a9672682ffaa7a8acfdbe4c0b349a
.old.git/objects/a2/9f625a0d569bde153723336abea8d207e0646c
.old.git/objects/aa/4ab111cf816e0a28999c11852e76e651a74758
.old.git/objects/b5/29236ccb222ab4789a8e0a080eda1452f33ded
.old.git/objects/b8/4caecd2114d3cfc33d8b5ff665f0fd81f9770b
.old.git/objects/ba/d1388ae1b93fcb573f3e7229bcc045b3b7af20
.old.git/objects/cd/414557faea5ca3b7dcc0602f7439de7776c2ce
.old.git/objects/d6/c50209a6cf24e76b61cbda51ad753b331b856d
.old.git/objects/d7/6734636644435a816de4afe897a4fc4a4a0d1a
.old.git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
.old.git/objects/f4/968f6be274d0295ba1c6eb6b94ada1b1aaf9e8
.old.git/objects/fe/3816f71f4b61f320a0e782e02c7cbe7b829ab2
.old.git/refs/heads/main
.old.git/refs/remotes/origin/HEAD
.old.git/refs/remotes/origin/main
